html {
    font-size: 24px;
    font-family:"Times New Roman", Times, serif;
    line-height: 1.15;
    letter-spacing: 1px;
    background-color: #2A0A4A;
    padding: 20px 20px 20px 20px;
}
body {
    width: 80%;
    max-width: 1200px;
    display: block;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
    border: 12px solid #1234CD;
    background-color: #CCCCCC;
}
h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #3478EF;
    text-shadow: 3px 2px 1px #1256AB;
}
img {
    display: block;
    margin: 0 auto;
}
p {
    color: #555;
}
p.minor {
    color:gray;
    font-size: 16px;
}
li.crispy:hover, li.cheesy:hover {
    color: blue;
    border: 1px solid black;
}
p.greet{
    margin: 0 auto;
    text-align: right;
    color:gray;
}
p.comment{
    color: red;
    text-align: left;
    font-size: 32px;
}
